<?php

$helper = $block->getHelper();
$css = $helper->getConfigData('installment_description_css');
?>
<style>
	<?php echo $css; ?>
</style>
<?php

$helper = $block->getHelper();
if ($configData = $helper->getScalapayConfig()) {
    $getCurrentQuote = $helper->getQuote();
    $grandTotal = $getCurrentQuote->getGrandTotal();
    $getAllItems = $getCurrentQuote->getAllItems();
    $productIds = [];
    foreach ($getAllItems as $item) {
        if (
            $item->getProductType() == 'configurable' ||
            $item->getProductType() == 'grouped' ||
            $item->getProductType() == 'bundle'
            ) {
            continue;
        } else {
            $productIds[] = $item->getProductId();
        }
    }
    
    //Show scalapay payment method if enabled
    //Do not show Sclapay method if price range does not meet the criteria
    //Do not show scalapay payment method if we any virtual product in cart
    //pay later
    $isActiveScalapayPayLater = $helper->isScalapayPayLaterActive($grandTotal, $productIds, null, "cart");
    $showWidgetPayLater = $helper->getConfigDataPayLater('checkout_show_widget');
     if ($isActiveScalapayPayLater && $showWidgetPayLater) { ?>
    <div id="scalapayPayLaterText" style="margin: 0 0 10px 0;min-height:20px;visibility: hidden; display: inline-block; " >
        <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigDataPayLater('checkout_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayLater('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayLater('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayLater('checkout_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigDataPayLater('checkout_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigDataPayLater('checkout_amount_selector_array'); ?>]'
                number-of-installments="1"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayLater('checkout_pricebox_selector'); ?>"
                hide-price="<?php echo ($helper->getConfigDataPayLater('checkout_hide_price') == 0)? 'false' : 'true'; ?>"
                show-title="<?php echo ($helper->getConfigDataPayLater('checkout_show_title') == 1)? 'true' : 'false'; ?>"
                currency-position="<?php echo $helper->getConfigDataPayLater('checkout_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayLater('checkout_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayLater('checkout_theme'); ?>"
                frequency-number="<?php echo $helper->getConfigDataPayLater('checkout_number_of_days'); ?>"
                type="checkout">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalIdPayLater = setInterval(moveScalapayPayLater, 1000);
        let isExistPayLater = null;
        var amountSelectorArrayPayLater = <?php echo $helper->getConfigDataPayLater('checkout_amount_selector_array'); ?>;
        const scalapayPayLaterText = 'scalapayPayLaterText';
        const textPositionPayLater = '<?php echo $helper->getConfigDataPayLater('checkout_text_position'); ?>';

        function moveScalapayPayLater()
        {
            isExistPayLater = document.querySelector(amountSelectorArrayPayLater);
            if (isExistPayLater !== null) {
                let referenceNodePayLater = document.querySelector(textPositionPayLater);
                if (referenceNodePayLater !== null) {
                	referenceNodePayLater.appendChild(document.getElementById(scalapayPayLaterText));
	                document.getElementById(scalapayPayLaterText).style.visibility = 'visible';
	                clearInterval(intervalIdPayLater);
	                intervalIdPayLater = null;
                }
            }
        }
    </script>
    <?php 
     } 
    //pay in 4
    $isActiveScalapayPayin4 = $helper->isScalapayPayin4Active($grandTotal, $productIds, null, "cart");
    $showWidgetPayin4 = $helper->getConfigDataPayin4('checkout_show_widget');
     if ($isActiveScalapayPayin4 && $showWidgetPayin4) { ?>
     <div id="scalapayPayin4Text" style="margin: 0 0 10px 0;min-height:20px; visibility: hidden; display: inline-block; " >
        <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigDataPayin4('checkout_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayin4('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayin4('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayin4('checkout_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigDataPayin4('checkout_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigDataPayin4('checkout_amount_selector_array'); ?>]'
                hideLogo="<?php echo  $helper->getConfigDataPayin4('checkout_show_logo') == '1' ? 'false' : 'true'; ?>"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayin4('checkout_pricebox_selector'); ?>"
                hidePrice="<?php echo ($helper->getConfigDataPayin4('checkout_hide_price') == 0)? 'false' : 'true'; ?>"
                show-title="<?php echo ($helper->getConfigDataPayin4('checkout_show_title') == 1)? 'true' : 'false'; ?>"
                number-of-installments="4"
                currency-position="<?php echo $helper->getConfigDataPayin4('checkout_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayin4('checkout_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayin4('checkout_theme'); ?>"
                frequency-number="30"
                type="checkout">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalIdPayin4 = setInterval(moveScalapayPayin4, 1000);
        let isExistPayin4 = null;
        var amountSelectorArrayPayin4 = <?php echo $helper->getConfigDataPayin4('checkout_amount_selector_array'); ?>;
        const scalapayPayin4Text = 'scalapayPayin4Text';
        const textPositionPayin4 = '<?php echo $helper->getConfigDataPayin4('checkout_text_position'); ?>';

        function moveScalapayPayin4()
        {
            isExistPayin4 = document.querySelector(amountSelectorArrayPayin4);
            if (isExistPayin4 !== null) {
                let referenceNodePayin4 = document.querySelector(textPositionPayin4);
                if (referenceNodePayin4 !== null) {
	                referenceNodePayin4.appendChild(document.getElementById(scalapayPayin4Text));
	                document.getElementById(scalapayPayin4Text).style.visibility = 'visible';
	                clearInterval(intervalIdPayin4);
	                intervalIdPayin4 = null;
                }
            }
        }
    </script>
    <?php }
     
    $isActiveScalapay = $helper->isScalapayActive($grandTotal, $productIds, null, "cart");
    $showWidget = $helper->getConfigData('checkout_show_widget');
    if ($isActiveScalapay && $showWidget) { ?>
        <div id="scalapayText" style="margin: 0 0 10px 0;min-height:20px; visibility: hidden; display: inline-block; ">
            <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigData('checkout_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigData('min_amount'); ?>"
                max="<?php echo $helper->getConfigData('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigData('checkout_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigData('checkout_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigData('checkout_amount_selector_array'); ?>]'
                number-of-installments="3"
                frequency-number="30"
                hideLogo="<?php echo ($helper->getConfigData('checkout_show_logo') == '1')? 'false' : 'true'; ?>"
                show-title="<?php echo ($helper->getConfigData('checkout_show_title') == 1)? 'true' : 'false'; ?>"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                currency-position="<?php echo $helper->getConfigData('checkout_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigData('checkout_currency_display'); ?>"
                theme="<?php echo $helper->getConfigData('checkout_theme'); ?>"
                priceBoxSelector='<?php echo $helper->getConfigData('checkout_pricebox_selector'); ?>'
                hidePrice="<?php echo ($helper->getConfigData('checkout_hide_price') == 0)? 'false' : 'true'; ?>"
                type="checkout">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalId = setInterval(moveScalapay, 1000);
        let isExist = null;
        var amountSelectorArray = <?php echo $helper->getConfigData('checkout_amount_selector_array'); ?>;
        const scalapayText = 'scalapayText';
        const textPosition = '<?php echo $helper->getConfigData('checkout_text_position'); ?>';

        function moveScalapay()
        {
            isExist = document.querySelector(amountSelectorArray);
            if (isExist !== null) {
                let referenceNode = document.querySelector(textPosition);
                if (referenceNode !== null) {
	                referenceNode.appendChild(document.getElementById(scalapayText));
	                document.getElementById(scalapayText).style.visibility = 'visible';
	                clearInterval(intervalId);
	                intervalId = null;

                }
            }
        }
    </script>
<?php } 
    if($isActiveScalapayPayLater || $isActiveScalapayPayin4 || $isActiveScalapay) {
?>
    <script type="module" src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.esm.js"></script>
    <script nomodule  src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.js"></script>

<?php 
    }
 }

if ($configData = $helper->getScalapayConfig()) {
    $getCurrentQuote = $helper->getQuote();
    $grandTotal = $getCurrentQuote->getGrandTotal();
    $currentCountry = $getCurrentQuote->getShippingAddress()->getCountryId();
    $getAllItems = $getCurrentQuote->getAllItems();
    $productIds = [];
    foreach ($getAllItems as $item) {
        if (
            $item->getProductType() == 'configurable' ||
            $item->getProductType() == 'grouped' ||
            $item->getProductType() == 'bundle'

            ) {
            continue;
        } else {
            $productIds[] = $item->getProductId();
        }
    }

    //Show scalapay payment method if enabled
    //Do not show Sclapay method if price range does not meet the criteria
    //Do not show scalapay payment method if we any virtual product in cart
    //OR if a product exist under disabled categories
    $isActiveScalapay = $helper->isScalapayActive($grandTotal, $productIds, $currentCountry);

    if ($isActiveScalapay) {
	    /***************Reload address data when back****************/
	    $process = false;

        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	    $customerSession = $objectManager->get('Magento\Customer\Model\Session');

	    if (!$customerSession->isLoggedIn()) {
	        $shipping = $getCurrentQuote->getShippingAddress();
	        $billing = $getCurrentQuote->getBillingAddress();
	        //Shipping information
	        $city_shipping = $shipping->getCity();
	        $post_code_shipping = $shipping->getPostcode();
	        $email_shipping = $shipping->getEmail();

	        if ($email_shipping == "") {
	            $email_shipping = $billing->getEmail();
	        }

	        $telephone_shipping = $shipping->getTelephone();
	        $state_shipping = $shipping->getState();
	        $street_shipping = $shipping->getStreet();
	        $street_address_shipping = $street_shipping[0];
	        $firstname_shipping = $shipping->getFirstname();
	        $last_name_shipping = $shipping->getLastname();
	        $country_code_shipping = $shipping->getCountryId();
	        $region_id_shipping = $shipping->getRegionId();
	        $company = $shipping->getCompany();
	        $region = $shipping->getRegion();

	        if ($email_shipping != "") {
	            $process = true;
	        }
	    } 
	    ?>
	<script type="text/javascript">
	    
		  <?php if ($process) { ?>
		    require(['jquery', 'jquery/ui'], function($){
			   $(document).ready(function () {
				// place this within dom ready function
				  function showpanel() {
					$('#customer-email').val("<?=/* @noEscape */ $email_shipping; ?>");
					$('#customer-email').trigger("change");
					$('.form-shipping-address input[name=firstname]').val("<?=/* @noEscape */ $firstname_shipping; ?>");
					$('.form-shipping-address input[name=firstname]').trigger("change");
					$('.form-shipping-address input[name=lastname]').val("<?=/* @noEscape */ $last_name_shipping; ?>");
					$('.form-shipping-address input[name=lastname]').trigger("change");
					$(".form-shipping-address input[name^='street[0]']").val("<?=/* @noEscape */ $street_address_shipping; ?>");
					$(".form-shipping-address input[name^='street[0]']").trigger("change");
					$('.form-shipping-address input[name=city]').val("<?=/* @noEscape */ $city_shipping; ?>");
					$('.form-shipping-address input[name=city]').trigger("change");
					$('.form-shipping-address input[name=company]').val("<?=/* @noEscape */ $company; ?>");
					$('.form-shipping-address input[name=company]').trigger("change");
					$('.form-shipping-address input[name=region]').val("<?=/* @noEscape */ $region; ?>");
					$('.form-shipping-address input[name=region]').trigger("change");
					$('.form-shipping-address select[name=region_id]').val("<?=/* @noEscape */ $region_id_shipping; ?>");
					$('.form-shipping-address select[name=region_id]').trigger("change");
					$('.form-shipping-address input[name=postcode]').val("<?=/* @noEscape */ $post_code_shipping; ?>");
					$('.form-shipping-address input[name=postcode]').trigger("change");
					$('.form-shipping-address select[name=country_id]').val("<?=/* @noEscape */ $country_code_shipping; ?>");
					$('.form-shipping-address select[name=country_id]').trigger("change");
					$('.form-shipping-address input[name=telephone]').val("<?=/* @noEscape */ $telephone_shipping; ?>");
					$('.form-shipping-address input[name=telephone]').trigger("change");
				 }

				 // use setTimeout() to execute
				 setTimeout(showpanel, 5000)
			 
			  });
		});
		<?php } ?>
		</script>  
	<?php } ?>
<?php } ?>