
<button id="scalapay_get_api_configuration_button" class="save primary a-right" onclick="showConfig(); return false;">
    <span><?php echo __('Get Limits'); ?></span>
</button>
<?php $config = []; ?>
<style type="text/css">
    #popup_get_api_configurations {
        border: 1px solid #535353;
        box-shadow: 6px 6px 3px #9a9a9a;
        background-color: #ebebeb;
        display: none;
        height: 310px;
        left: 30%;
        padding: 15px;
        position: fixed;
        top: 25%;
        width: 310px;
        z-index: 1;
    }
    #popup_get_api_configurations ul li {
        margin-left: 20px;
    }
    #popup_get_api_configurations button {
        display: inline-block; 
        
        margin-top: 10px;
    }
    #scalapay_close_button{ margin-bottom: -30px; }
    .buttonHolder{ text-align: right; }
</style>
<div id="popup_get_api_configurations">
    <span class="admin__legend"><?php echo __('Scalapay API limits!'); ?></span>
    <span>
        <strong><?php echo __('Pay in 3:'); ?></strong>
    </span>
    <div class="payin3contents">
        <ul>
            <li><span class="lblpayin3min"><?php echo __('Minimum Amount: '); ?></span><span class="payin3min"></span></li>
            <li><span class="lblpayin3max"><?php echo __('Maximum Amount: '); ?></span><span class="payin3max"></span></li>
        </ul>
    </div>
    <span>
        <strong><?php echo __('Pay in 4:'); ?></strong>
    </span>
    <div class="payin4contents">
        <ul>
            <li><span class="lblpayin4min"><?php echo __('Minimum Amount: '); ?></span><span class="payin4min"></span></li>
            <li><span class="lblpayin4max"><?php echo __('Maximum Amount: '); ?></span><span class="payin4max"></span></li>
        </ul>
    </div>
    <span>
        <strong><?php echo __('Pay later:'); ?></strong>
    </span>
    <div class="paylatercontents">
        <ul>
            <li><span class="lblpaylatermin"><?php echo __('Minimum Amount: '); ?></span><span class="paylatermin"></span></li>
            <li><span class="lblpaylatermax"><?php echo __('Maximum Amount: '); ?></span><span class="paylatermax"></span></li>
        </ul>
    </div>
    <div class="buttonHolder"><button id="scalapay_close_button" class=" primary  " onclick="closeConfig(); return false;">
    <span>Close</span>
</button></div>
    <div><br /></div>
    
</div>
<script type="text/javascript">
    //    <![CDATA[
    function showConfig() {
        require(['jquery'], function($){
            new Ajax.Request('<?php echo $this->getUrl('scalapay/index/config'); ?>', {
            method:     'get',
            onSuccess: function(response) {
               console.log(response);
                response = JSON.parse(response.responseText);
                console.log(response.payin3);
                
                if (response.payin3 !== null && response.payin3 !== undefined) {
                    if (response.payin3.maximumAmount !== null && response.payin3.maximumAmount !== undefined) {
                       $('.payin3max').html(response.payin3.maximumAmount);
                    } else {
                        $('.payin3contents').html("<ul><li><?php echo __('Pay in 3 is not available.'); ?></li></ul>");
                    }
                    if (response.payin3.minimumAmount !== null && response.payin3.minimumAmount !== undefined) {
                       $('.payin3min').html(response.payin3.minimumAmount);
                    } else {
                        $('.payin3contents').html("<ul><li><?php echo __('Pay in 3 is not available.'); ?></li></ul>");
                    }
                    console.log("pay in 3  available.");
                } else {
                    $('.payin3contents').html("<ul><li><?php echo __('Pay in 3 is not available.'); ?></li></ul>");
                    console.log("pay in 3 not available.");
                }
                if (response.payin4 !== null && response.payin4 !== undefined) {
                    if (response.payin4.maximumAmount !== null && response.payin4.maximumAmount !== undefined) {
                       $('.payin4max').html(response.payin4.maximumAmount);
                    } else {
                        $('.payin4contents').html("<ul><li><?php echo __('Pay in 4 is not available.'); ?></li></ul>");
                    }
                    if (response.payin4.minimumAmount !== null && response.payin4.minimumAmount !== undefined) {
                       $('.payin4min').html(response.payin4.minimumAmount);
                    } else {
                       $('.payin4contents').html("<ul><li><?php echo __('Pay in 4 is not available.'); ?></li></ul>");
                    }
                    console.log("pay in 4  available.");
                } else {
                    $('.payin4contents').html("<ul><li><?php echo __('Pay in 4 is not available.'); ?></li></ul>");
                    console.log("pay in 4 not available.");
                }
                if (response.paylater !== null && response.paylater !== undefined) {
                    if (response.paylater.maximumAmount !== null && response.paylater.maximumAmount !== undefined) {
                       $('.paylatermax').html(response.paylater.maximumAmount);
                    } else {
                       $('.paylatercontents').html("<ul><li><?php echo __('Pay later is not available.'); ?></li></ul>");
                    }
                    if (response.paylater.minimumAmount !== null && response.paylater.minimumAmount !== undefined) {
                       $('.paylatermin').html(response.paylater.minimumAmount);
                    } else {
                        $('.paylatercontents').html("<ul><li><?php echo __('Pay later is not available.'); ?></li></ul>");
                    }
                    console.log("pay later  available.");
                } else {
                    $('.paylatercontents').html("<ul><li><?php echo __('Pay later is not available.'); ?></li></ul>");
                    console.log("pay later not available.");
                }
                $('#popup_get_api_configurations').show();
            },
            onFailure: function(transport) {
               $('#popup_get_api_configurations').hide();
            }
        });

            
        });
    }
    //]]>
     //    <![CDATA[
    function closeConfig() {
        require(['jquery'], function($){
            $('#popup_get_api_configurations').hide();
        });
    }
    //]]>
</script>