.scalapay_instalments_checkout_logo {
    background-image: url("../images/scalapay-logo-black.png");
    background-size: 105px 31px;
    vertical-align: middle;
    display: inline-block;
    height: 31px;
    width: 105px;
}

.scalapay_instalments_checkout_logo_italy {
    background-image: url("../images/scalapay-logo-black.png");
    background-size: 105px 31px;
    vertical-align: middle;
    display: inline-block;
    height: 31px;
    width: 105px;
}

.scalapay_instalments_cart_logo {
    background-image: url("../images/scalapay-logo-black.png");
    background-size: 105px 31px;
    vertical-align: middle;
    display: inline-block;
    height: 31px;
    width: 105px;
}

.scalapay_instalments_product_logo {
    background-image: url("../images/scalapay-logo-black.png");
    background-size: 105px 31px;
    vertical-align: middle;
    display: inline-block;
    height: 31px;
    width: 105px;
}

.scalapay-modal {
    overflow-y: auto !important;
    pointer-events: auto !important;
}

.scalapayModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    /* overflow: auto; */
    z-index:9999;
}

.scalapay-modal-content {
    height: 100% !important;
    clear: both;
    padding-top: 20px !important;
    background-color: #fefefe;
    margin: 0 auto; /* 1% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

.scalapay-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #ffffff;
    font-size: 25px;
}

.scalapay-close-buttonclose-button:hover {
    background-color: darkgray;
}

.scalapay-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.img-responsive-scalapay {
    width: 100%;
}

.scalapay-ajax-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249,.7);
}

a#scalapayText,
a#scalapayText:hover,
a#scalapayText:visited,
a#scalapayText:active,
a#scalapayText:link {
    color: #000;
}