<?php

$helper = $block->getHelper();

if ($currentProduct = $block->getCurrentProduct()) {
    $currentPrice = $currentProduct->getFinalPrice();
    $productId = $currentProduct->getId();
    $isActiveScalapay = $helper->isScalapayActive($currentPrice, [$productId], null, "product");
    $showWidget = $helper->getConfigData('product_show_widget');
    $enableBelowWidgetText = $helper->getConfigData('product_scalapay_enable_below_widget_text');
    $belowWidgetText = $helper->getConfigData('product_scalapay_below_widget_text');

    $enableBelowWidgetTextPayin4 = $helper->getConfigDataPayin4('product_scalapay_enable_below_widget_text');
    $belowWidgetTextPayin4 = $helper->getConfigDataPayin4('product_scalapay_below_widget_text');

    $enableBelowWidgetTextPaylater = $helper->getConfigDataPayLater('product_scalapay_enable_below_widget_text');
    $belowWidgetTextPaylater = $helper->getConfigDataPayLater('product_scalapay_below_widget_text');

    //Show scalapay payment method if enabled
    //Do not show Sclapay method if price range does not meet the criteria
    //Do not show scalapay payment method if we any virtual product in cart
     //pay later
    $isActiveScalapayPayLater = $helper->isScalapayPayLaterActive($currentPrice, [$productId], null, "product");
    $showWidgetPayLater = $helper->getConfigDataPayLater('product_show_widget');
    if ($isActiveScalapayPayLater && $showWidgetPayLater) { ?>
    <div id="scalapayPayLaterText" style="margin: 0 0 10px 0;min-height:20px;" >
        <scalapay-widget
                amount="<?php echo $currentPrice; ?>"
                min="<?php echo ($helper->getConfigDataPayLater('product_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayLater('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayLater('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayLater('product_logo_size'); ?>"
                amount-selectors='[<?php echo $helper->getConfigDataPayLater('product_amount_selector_array'); ?>]'
                number-of-installments="1"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayLater('product_pricebox_selector'); ?>"
                hide-price="<?php echo ($helper->getConfigDataPayLater('product_hide_price') == 0)? 'false' : 'true'; ?>"
                currency-position="<?php echo $helper->getConfigDataPayLater('product_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayLater('product_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayLater('product_theme'); ?>"
                frequency-number="<?php echo $helper->getConfigDataPayLater('product_number_of_days'); ?>"
                type="product">
        </scalapay-widget>
        <?php 
            if ($enableBelowWidgetTextPaylater && $helper->ctrim($belowWidgetTextPaylater) != "") {
                $minimumAmountPaylater = $helper->getConfigDataPayLater('min_amount');
                $minimumAmountTextPaylater = "";
                if ($minimumAmountPaylater > 0) {
                    $minimumAmountTextPaylater = $helper->getScalapayFormatedPrice($minimumAmountPaylater);    
                }
                
                echo $belowWidgetTextPaylater; 
            } 
            ?>
    </div>
    <script type="text/javascript">

        const textPositionPayLater = '<?php echo $helper->getConfigDataPayLater('product_text_position'); ?>';
        const scalapayPayLaterText = 'scalapayPayLaterText';
        let referenceNodePayLater = document.querySelector(textPositionPayLater);
        referenceNodePayLater.parentNode.insertBefore(document.getElementById(scalapayPayLaterText), referenceNodePayLater.nextSibling);
    </script>
    <?php 
         
     } 
     //pay in 4
    $isActiveScalapayPayin4 = $helper->isScalapayPayin4Active($currentPrice, [$productId], null, "product");
    $showWidgetPayin4 = $helper->getConfigDataPayin4('product_show_widget');
     if ($isActiveScalapayPayin4 && $showWidgetPayin4) { ?>
     <div id="scalapayPayin4Text" style="margin: 0 0 10px 0;min-height:20px;" >
        <scalapay-widget
                amount="<?php echo $currentPrice; ?>"
                min="<?php echo ($helper->getConfigDataPayin4('product_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayin4('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayin4('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayin4('product_logo_size'); ?>"
                amount-selectors='[<?php echo $helper->getConfigDataPayin4('product_amount_selector_array'); ?>]'
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayin4('product_pricebox_selector'); ?>"
                hide-price="<?php echo ($helper->getConfigDataPayin4('product_hide_price') == 0)? 'false' : 'true'; ?>"
                number-of-installments="4"
                currency-position="<?php echo $helper->getConfigDataPayin4('product_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayin4('product_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayin4('product_theme'); ?>"
                frequency-number="30"
                type="product">
        </scalapay-widget>
        <?php 
            if ($enableBelowWidgetTextPayin4 && $helper->ctrim($belowWidgetTextPayin4) != "") {
                $minimumAmountPayin4 = $helper->getConfigDataPayin4('min_amount');
                $minimumAmountTextPayin4 = "";
                if ($minimumAmountPayin4 > 0) {
                    $minimumAmountTextPayin4 = $helper->getScalapayFormatedPrice($minimumAmountPayin4);    
                }
                
                echo $belowWidgetTextPayin4; 
            } 
            ?>
    </div>
    <script type="text/javascript">

        const textPositionPayin4 = '<?php echo $helper->getConfigDataPayin4('product_text_position'); ?>';
        const scalapayPayin4Text = 'scalapayPayin4Text';
        let referenceNodePayin4 = document.querySelector(textPositionPayin4);
        referenceNodePayin4.parentNode.insertBefore(document.getElementById(scalapayPayin4Text), referenceNodePayin4.nextSibling);
    </script>
    <?php } 
     
    if ($isActiveScalapay && $showWidget) { ?>
    <div id="scalapayText" style="margin: 0 0 10px 0;min-height:20px;" >
        <scalapay-widget
                amount="<?php echo $currentPrice; ?>"
                min="<?php echo ($helper->getConfigData('product_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigData('min_amount'); ?>"
                max="<?php echo $helper->getConfigData('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigData('product_logo_size'); ?>"
                amount-selectors='[<?php echo $helper->getConfigData('product_amount_selector_array'); ?>]'
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigData('product_pricebox_selector'); ?>"
                hide-price="<?php echo ($helper->getConfigData('product_hide_price') == 0)? 'false' : 'true'; ?>"
                number-of-installments="3"
                currency-position="<?php echo $helper->getConfigData('product_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigData('product_currency_display'); ?>"
                theme="<?php echo $helper->getConfigData('product_theme'); ?>"
                frequency-number="30"
                type="product">
        </scalapay-widget>
        <?php 
            if ($enableBelowWidgetText && $helper->ctrim($belowWidgetText) != "") {
                $minimumAmount = $helper->getConfigData('min_amount');
                $minimumAmountText = "";
                if ($minimumAmount > 0) {
                    $minimumAmountText = $helper->getScalapayFormatedPrice($minimumAmount);    
                }
                
                echo $belowWidgetText; 
            } 
            ?>
    </div>
    <script type="text/javascript">
        const textPosition = '<?php echo $helper->getConfigData('product_text_position'); ?>';
        const scalapayText = 'scalapayText';
        let referenceNode = document.querySelector(textPosition);
        referenceNode.parentNode.insertBefore(document.getElementById(scalapayText), referenceNode.nextSibling);
    </script>
    <?php
    }  
    if($isActiveScalapayPayLater || $isActiveScalapayPayin4 || $isActiveScalapay) {
    ?>
        <script type="module" src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.esm.js"></script>
        <script nomodule  src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.js"></script>
    <?php 
    }
} ?>