<?php

$helper = $block->getHelper();
if ($configData = $helper->getScalapayConfig()) {
    $getCurrentQuote = $helper->getQuote();
    $grandTotal = $getCurrentQuote->getGrandTotal();
    $getAllItems = $getCurrentQuote->getAllItems();
    $productIds = [];
    foreach ($getAllItems as $item) {
        if (
            $item->getProductType() == 'configurable' ||
            $item->getProductType() == 'grouped' ||
            $item->getProductType() == 'bundle'
            ) {
            continue;
        } else {
            $productIds[] = $item->getProductId();
        }
    }
    
    //Show scalapay payment method if enabled
    //Do not show Sclapay method if price range does not meet the criteria
    //Do not show scalapay payment method if we any virtual product in cart
    //pay later
    $isActiveScalapayPayLater = $helper->isScalapayPayLaterActive($grandTotal, $productIds, null, "cart");
    $showWidgetPayLater = $helper->getConfigDataPayLater('cart_show_widget');
     if ($isActiveScalapayPayLater && $showWidgetPayLater) { ?>
    <div id="scalapayPayLaterText" style="margin: 0 0 10px 0;min-height:20px;visibility:hidden;" >
        <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigDataPayLater('cart_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayLater('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayLater('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayLater('cart_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigDataPayLater('cart_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigDataPayLater('cart_amount_selector_array'); ?>]'
                number-of-installments="1"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayLater('cart_pricebox_selector'); ?>"
                hide-price="<?php echo ($helper->getConfigDataPayLater('cart_hide_price') == 0)? 'false' : 'true'; ?>"
                currency-position="<?php echo $helper->getConfigDataPayLater('cart_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayLater('cart_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayLater('cart_theme'); ?>"
                frequency-number="<?php echo $helper->getConfigDataPayLater('cart_number_of_days'); ?>"
                type="cart">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalIdPayLater = setInterval(moveScalapayPayLater, 1000);
        let isExistPayLater = null;
        var amountSelectorArrayPayLater = <?php echo $helper->getConfigDataPayLater('cart_amount_selector_array'); ?>;
        const scalapayPayLaterText = 'scalapayPayLaterText';
        const textPositionPayLater = '<?php echo $helper->getConfigDataPayLater('cart_text_position'); ?>';

        function moveScalapayPayLater()
        {
            isExistPayLater = document.querySelector(amountSelectorArrayPayLater);
            if (isExistPayLater !== null) {
                let referenceNodePayLater = document.querySelector(textPositionPayLater);
                referenceNodePayLater.parentNode.insertBefore(document.getElementById(scalapayPayLaterText), referenceNodePayLater.nextSibling);
                document.getElementById(scalapayPayLaterText).style.visibility = 'visible';
                clearInterval(intervalIdPayLater);
                intervalIdPayLater = null;
            }
        }
    </script>
    <?php 
     } 
    //pay in 4
    $isActiveScalapayPayin4 = $helper->isScalapayPayin4Active($grandTotal, $productIds, null, "cart");
    $showWidgetPayin4 = $helper->getConfigDataPayin4('cart_show_widget');
     if ($isActiveScalapayPayin4 && $showWidgetPayin4) { ?>
     <div id="scalapayPayin4Text" style="margin: 0 0 10px 0;min-height:20px;" >
        <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigDataPayin4('cart_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigDataPayin4('min_amount'); ?>"
                max="<?php echo $helper->getConfigDataPayin4('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigDataPayin4('cart_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigDataPayin4('cart_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigDataPayin4('cart_amount_selector_array'); ?>]'
                hideLogo="<?php echo  $helper->getConfigDataPayin4('cart_show_logo') == '1' ? 'false' : 'true'; ?>"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                priceBoxSelector="<?php echo $helper->getConfigDataPayin4('cart_pricebox_selector'); ?>"
                hidePrice="<?php echo ($helper->getConfigDataPayin4('cart_hide_price') == 0)? 'false' : 'true'; ?>"
                number-of-installments="4"
                currency-position="<?php echo $helper->getConfigDataPayin4('cart_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigDataPayin4('cart_currency_display'); ?>"
                theme="<?php echo $helper->getConfigDataPayin4('cart_theme'); ?>"
                frequency-number="30"
                type="cart">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalIdPayin4 = setInterval(moveScalapayPayin4, 1000);
        let isExistPayin4 = null;
        var amountSelectorArrayPayin4 = <?php echo $helper->getConfigDataPayin4('cart_amount_selector_array'); ?>;
        const scalapayPayin4Text = 'scalapayPayin4Text';
        const textPositionPayin4 = '<?php echo $helper->getConfigDataPayin4('cart_text_position'); ?>';

        function moveScalapayPayin4()
        {
            isExistPayin4 = document.querySelector(amountSelectorArrayPayin4);
            if (isExistPayin4 !== null) {
                let referenceNodePayin4 = document.querySelector(textPositionPayin4);
                referenceNodePayin4.parentNode.insertBefore(document.getElementById(scalapayPayin4Text), referenceNodePayin4.nextSibling);
                document.getElementById(scalapayPayin4Text).style.visibility = 'visible';
                clearInterval(intervalIdPayin4);
                intervalIdPayin4 = null;
            }
        }
    </script>
    <?php }
     
    $isActiveScalapay = $helper->isScalapayActive($grandTotal, $productIds, null, "cart");
    $showWidget = $helper->getConfigData('cart_show_widget');
    if ($isActiveScalapay && $showWidget) { ?>
        <div id="scalapayText" style="margin: 0 0 10px 0;min-height:20px;">
            <scalapay-widget
                amount="<?php echo $grandTotal; ?>"
                min="<?php echo ($helper->getConfigData('cart_apply_min_order_value') == 0) ? '0.1' : $helper->getConfigData('min_amount'); ?>"
                max="<?php echo $helper->getConfigData('max_amount'); ?>"
                logoSize="<?php echo $helper->getConfigData('cart_logo_size'); ?>"
                amountSelectorArray='[<?php echo $helper->getConfigData('cart_amount_selector_array'); ?>]'
                amount-selectors='[<?php echo $helper->getConfigData('cart_amount_selector_array'); ?>]'
                number-of-installments="3"
                frequency-number="30"
                hideLogo="<?php echo ($helper->getConfigData('cart_show_logo') == '1')? 'false' : 'true'; ?>"
                locale="<?php echo $helper->getCurrentLanguage(); ?>"
                currency-position="<?php echo $helper->getConfigData('cart_currency_position'); ?>"
                currency-display="<?php echo $helper->getConfigData('cart_currency_display'); ?>"
                theme="<?php echo $helper->getConfigData('cart_theme'); ?>"
                priceBoxSelector='<?php echo $helper->getConfigData('cart_pricebox_selector'); ?>'
                hidePrice="<?php echo ($helper->getConfigData('cart_hide_price') == 0)? 'false' : 'true'; ?>"
                type="cart">
        </scalapay-widget>
    </div>
    <script type="text/javascript">
        let intervalId = setInterval(moveScalapay, 1000);
        let isExist = null;
        var amountSelectorArray = <?php echo $helper->getConfigData('cart_amount_selector_array'); ?>;
        const scalapayText = 'scalapayText';
        const textPosition = '<?php echo $helper->getConfigData('cart_text_position'); ?>';

        function moveScalapay()
        {
            isExist = document.querySelector(amountSelectorArray);
            if (isExist !== null) {
                let referenceNode = document.querySelector(textPosition);
                referenceNode.parentNode.insertBefore(document.getElementById(scalapayText), referenceNode.nextSibling);
                document.getElementById(scalapayText).style.visibility = 'visible';
                clearInterval(intervalId);
                intervalId = null;
            }
        }
    </script>
<?php } 
    if($isActiveScalapayPayLater || $isActiveScalapayPayin4 || $isActiveScalapay) {
?>
    <script type="module" src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.esm.js"></script>
    <script nomodule  src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.js"></script>

 <?php 
    }
 } 
 ?>